DATA_DIR=/srv/afterlight/data
BACKUP_DIR=/srv/afterlight/backups
SECRETS_DIR=/etc/afterlight/secrets
AFTERLIGHT_DATA_UID=1000
AFTERLIGHT_DATA_GID=1000
AFTERLIGHT_INIT_MEMORY=4G
AFTERLIGHT_MAX_MEMORY=10G
AFTERLIGHT_MEMORY_LIMIT=13G
